
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    height: 100vh;

    &__header {
        background-color: red;
        height: 10%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        background-color: #4699dc;
        height: 70%;
        border-radius: 10px;

        &-mint{
            background-color: #ee4654;
            // margin-left: 20%;
            // margin-right: 20%;
        }
    }

    &__footer {
        background-color: yellow;
        height: 10%;
    }
}
