
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    height: 100vh;

    &__header {
        background-color: red;
        height: 10%;
    }

    &__body {
        background-color: blue;
        height: 70%;
    }

    &__footer {
        background-color: yellow;
        height: 10%;
    }
}
